<!doctype html>
<html lang="en">
<head>
    {include file="public/top_default"}
    <style type="text/css">
        .layui-layer-btn .layui-layer-btn0 
        {
            border-color: #1E9FFF;
            background-color: #1E9FFF;
            color: #fff!important;
        }
    </style>
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card" style="margin-top: 1rem;">
                    <div class="card-body p-0" style="margin-top: 1rem;">
                        <form id="form_array">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="single-select">上级菜单</label>
                                <select id="single-select" name="pid" class="form-control">
                                    <option value="0">作为顶级菜单</option>
                                    {volist name="$dataList" id="vo"}
                                    <option value="{$vo.id}" {notempty name="$getInfo.pid"}{eq name="$getInfo.pid" value="$vo.id"} selected=""{/eq}{else /}{notempty name="$pid"}{eq name="$pid" value="$vo.id"} selected=""{/eq}{/notempty}{/notempty} {if condition="$vo.level eq 3"} disabled="" style="color: #cdcdcd;" {/if}>{$vo.str}{$vo.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="normal-input" class="form-control-label">名称</label>
                                <input id="normal-input" name="name" autocomplete="off" class="form-control" placeholder="请输入" {notempty name="$getInfo.name"} value="{$getInfo.name}"{/notempty}>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="normal-input" class="form-control-label">模块名</label>
                                <input id="normal-input" name="module" autocomplete="off"" class="form-control" placeholder="请输入" {notempty name="$getInfo.module"} value="{$getInfo.module}"{/notempty}>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="normal-input" class="form-control-label">控制器名</label>
                                <input id="normal-input" name="controller" autocomplete="off"" class="form-control" placeholder="请输入" {notempty name="$getInfo.controller"} value="{$getInfo.controller}"{/notempty}>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="normal-input" class="form-control-label">方法名</label>
                                <input id="normal-input" name="function" autocomplete="off"" class="form-control" placeholder="请输入" {notempty name="$getInfo.function"} value="{$getInfo.function}"{/notempty}>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="normal-input" class="form-control-label">备注</label>
                                <textarea name="description" autocomplete="off" class="form-control" rows="4">{notempty name="$getInfo.description"}{$getInfo.description}{/notempty}</textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="normal-input" class="form-control-label">图标</label>
                                <input id="normal-input" name="icon" autocomplete="off" class="form-control" placeholder="请输入" {notempty name="$getInfo.icon"} value="{$getInfo.icon}"{/notempty}>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="normal-input" class="form-control-label">状态</label>
                                <select id="single-select" name="is_display" class="form-control">
                                    <option value="0">请选择</option>
                                    <option value="1" {notempty name="$getInfo.is_display"}{eq name="$getInfo.is_display" value="1"} selected=""{/eq}{/notempty}>显示在左侧菜单</option>
                                    <option value="2" {notempty name="$getInfo.is_display"}{eq name="$getInfo.is_display" value="2"} selected=""{/eq}{/notempty}>只做为操作节点</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="toggle-switch" data-ts-color="danger">
                                <label for="ts7" class="ts-label">默认展开</label>
                                <input id="ts7"  name="is_open" type="checkbox" hidden="hidden">
                                <label for="ts7" class="ts-helper"></label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="height: 15px;"></div>
                        </div>
                        {notempty name="$getInfo"}
                        <input type="hidden" name="id" value="{$getInfo.id}">
                        {/notempty}
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="form_submit">
                                    <i class="icon icon-event"></i> 
                                    提交保存
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer"}
<script type="text/javascript">
layui.use(['form'], function()
{
    var form     = layui.form;
    var layerIframe = parent.layer.getFrameIndex(window.name);
    //表单提交
    $(document).on("click","#form_submit",function()
    {
        $.ajax({
            url:"{:url('admin/permissionMenu/publish')}",
            data:$('#form_array').serialize(),
            type:'post',
            async: false,
            dataType : 'json',
            success:function(res) 
            {
                if(res.code == 1)
                {
                    layer.alert(res.msg);
                    setTimeout(function(){
                        parent.layer.close(layerIframe);
                    },1500)
                }else
                {
                    layer.alert(res.msg,{icon:2});
                }
            },
            error:function()
            {
                layer.alert("Systematic anomaly！",{icon:2});
            }
        });
    });
});
</script>
</body>
</html>
