	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理框架</title>
    <link rel="stylesheet" href="__VENDOR__/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="__VENDOR__/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="__CSS__/styles.css">
    <style type="text/css">
		.tab-content
		{
			border: 1px solid #fff;
		}
		.card-body
		{
			padding: 0rem 1rem 1rem 1rem;	
		}
    </style>